In [48]:
# importing and creating spark session
import pyspark
import pandas as pd
import numpy as np

from pydataset import data
from pyspark.sql.functions import lit
from pyspark.sql.functions import round, concat, sum, min, max, count, avg, mean
from pyspark.sql.functions import regexp_extract, regexp_replace

spark = pyspark.sql.SparkSession.builder.getOrCreate()

## Create a spark data frame that contains your favorite programming languages.
## The name of the column should be language.

In [2]:
pd_df = pd.DataFrame({'Language':['python','ruby', 'java']})

df = spark.createDataFrame(pd_df)

df

DataFrame[Language: string]

## View the schema of the dataframe

In [3]:
df.printSchema()

root
 |-- Language: string (nullable = true)

## Output the shape of the dataframe

In [4]:
print((df.count(), len(df.columns)))

(3, 1)

## Show the first 5 records in the dataframe

In [5]:
df.show(5)

+--------+
|Language|
+--------+
|  python|
|    ruby|
|    java|
+--------+

## Load the mpg dataset as a spark dataframe.

In [7]:
mpg = spark.createDataFrame(data("mpg"))

mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

## Create 1 column of output that contains a message like the one below:

#### The 1999 audi a4 has a 4 cylinder engine.
####  For each vehicle.

In [45]:
mpg.select(concat(lit("The "), mpg.year, lit(' '), mpg.manufacturer, lit(' '), mpg.model, lit(' has a '), mpg.cyl, lit(' cylinder engine.')).alias("cylinders")).show(5, False)

+-----------------------------------------+
|cylinders                                |
+-----------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.|
|The 1999 audi a4 has a 4 cylinder engine.|
|The 2008 audi a4 has a 4 cylinder engine.|
|The 2008 audi a4 has a 4 cylinder engine.|
|The 1999 audi a4 has a 6 cylinder engine.|
+-----------------------------------------+
only showing top 5 rows

## Transform the trans column so that it only contains either manual or auto.

In [61]:
mpg.select("trans", 
              regexp_extract("trans", 
                             r"^(\w+)", 1).alias("trans_transformed")).show(truncate=False)

+----------+-----------------+
|trans     |trans_transformed|
+----------+-----------------+
|auto(l5)  |auto             |
|manual(m5)|manual           |
|manual(m6)|manual           |
|auto(av)  |auto             |
|auto(l5)  |auto             |
|manual(m5)|manual           |
|auto(av)  |auto             |
|manual(m5)|manual           |
|auto(l5)  |auto             |
|manual(m6)|manual           |
|auto(s6)  |auto             |
|auto(l5)  |auto             |
|manual(m5)|manual           |
|auto(s6)  |auto             |
|manual(m6)|manual           |
|auto(l5)  |auto             |
|auto(s6)  |auto             |
|auto(s6)  |auto             |
|auto(l4)  |auto             |
|auto(l4)  |auto             |
+----------+-----------------+
only showing top 20 rows

## Load the tips dataset as a spark dataframe.

## What percentage of observations are smokers?

## Create a column that contains the tip percentage

## Calculate the average tip percentage for each combination of sex and smoker.

## Use the seattle weather dataset referenced in the lesson to answer the questions below.

## Convert the temperatures to farenheight.

## Which month has the most rain, on average?

## Which year was the windiest?

## What is the most frequent type of weather in January?

## What is the average high and low tempurature on sunny days in July in 2013 and 2014?

## What percentage of days were rainy in q3 of 2015?

## For each year, find what percentage of days it rained (had non-zero precipitation).